<h4> Collaborators: </h4>
<% @wiki.collaborators.each do |collab| %>
 <div class="row">

  <div class="col-md-8">
       <%= collab.user.email %>
  </div>

  <div class="col-md-4">
    <% if @wiki.user == current_user || current_user.admin? %>
      <%= link_to "Delete Collaborator", wiki_collaborator_path(@wiki, collab), method: :delete, class: 'btn btn-danger',
              data: {confirm: 'Are you sure you want to delete this collaborator?'} %>
    <% end %>
  </div>

</div>
<% end %>
