<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Wikis</p>
      <ul>
        <li>Be Truthful.</li>
        <li>Be Accurate (as possible).</li>
        <li>Have fun.</li>
      </ul>
  </div>

  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>

<div class="collab">
  <% if current_user == @wiki.user || current_user.admin? %>
    <%= link_to 'Add Collaborator', new_wiki_collaborator_path(@wiki), class:"btn btn-info" %>
  <% end %>
</div>
